<menu id="navigation">
  <a href="/resume">{% include '_icons/resume' %}<span>Resume</span></a>
  <a href="/dogs">{% include '_icons/dog' %}<span>Dog Photos</span></a>
  {# <a href="/contact">{% include '_icons/contact' %}<span>Contact</span></a> #}
</menu>
