<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Josh Magness | Software Engineer
    </title>
    <meta charset="utf-8" />
    <meta name="viewport"
      content="width=device-width,initial-scale=1,viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="keywords"
      content="magness, enginnering, UX, digital, developer, " />
    <meta name="description"
      content="Josh Magness is a human-centric leader with proven success as an executive, manager, and software engineer" />
    <meta name="referrer" content="no-referrer-when-downgrade" />
    <meta name="robots" content="all" />
    <meta content="en_US" property="og:locale" />
    <meta content="Josh Magness" property="og:site_name" />
    <meta content="website" property="og:type" />
    <meta content="https://magness.im/" property="og:url" />
    <meta content="Homepage" property="og:title" />
    <meta content="Josh Magness is a human-centric leader with proven success as an executive, manager, and software engineer"
      property="og:description" />
    <meta content="/images/og.jpg" property="og:image" />
    <meta content="1200" property="og:image:width" />
    <meta content="630" property="og:image:height" />
    <meta content="Josh Magness" property="og:image:alt" />
    <meta content="https://github.com/magnessjo" property="og:see_also" />

    <meta content="https://www.linkedin.com/in/magnessjo/"
      property="og:see_also" />
    <meta content="https://x.com/magnessjo" property="og:see_also" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@magnessjo" />
    <meta name="twitter:creator" content="@magnessjo" />
    <meta name="twitter:title" content="Josh Magness" />
    <meta name="twitter:description"
      content="Josh Magness is a human-centric leader with proven success as an executive, manager, and software engineer" />
    <meta name="twitter:image" content="/images/og.jpg" />
    <meta name="twitter:image:width" content="1200" />
    <meta name="twitter:image:height" content="630" />
    <meta name="twitter:image:alt" content="Josh Magness" />
    <link href="https://magness.im" rel="canonical" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="theme-color" content="#404040" />

    <style>
      header, main, footer, .skip-content { display: none; }
    </style>
  </head>

  <body>
    {% block main %}

    {% endblock %}

    {% if cssFile %}
      <link rel="stylesheet" type="text/css" href="/{{ cssFile }}.css" />
    {% endif %}

    <script src="/app.js"></script>

    {% if jsFile %}
      <script src="/{{ jsFile }}.js"></script>
    {% endif %}

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet" />

    <script>
      (function (i, s, o, g, r, a, m) { i['GoogleAnalyticsObject'] = r; (i[r] =
      i[r] || function () { (i[r].q = i[r].q || []).push(arguments); }), (i[r].l
      = 1 * new Date()); (a = s.createElement(o)), (m =
      s.getElementsByTagName(o)[0]); a.async = 1; a.src = g;
      m.parentNode.insertBefore(a, m); })( window, document, 'script',
      '//www.google-analytics.com/analytics.js', 'ga', ); ga('create',
      'UA-129123103-1', 'auto'); ga('send', 'pageview');
    </script>
  </body>
</html>
