{% set cssFile = 'dogs' %}
{% set jsFile = 'dogs' %}

{% extends '_layout' %}

{% block main %}
  <a href="#main" class="skip-content">Skip to main content</a>
  {% include '_components/menu' %}

  <main id="main" class="dogs-page">
    {% include '_components/menu-button' %}
    <div class="container">
      <div>
        <div class="image-slides">
          <magness-loader>
            <div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </magness-loader>
          <div class="content">
            <div class="row">
              <div class="slider">
                <div class="wrapper">
                  <div class="slide">
                    <div>
                      <img src="/images/dogs/georgia/1.jpeg"
                        alt="Lil Georgia in a big bed"
                        aria-hidden="true" />
                    </div>
                    <div>
                      <img src="/images/dogs/georgia/2.jpeg"
                        alt="Lil Georgia with the side eye"
                        aria-hidden="true" />
                    </div>
                    <div>
                      <img src="/images/dogs/georgia/3.jpeg"
                        alt="Georgia with a smile"
                        aria-hidden="true" />
                    </div>
                    <div>
                      <img src="/images/dogs/georgia/4.jpeg"
                        alt="Sleepy Georgia with her tongue out"
                        aria-hidden="true" />
                    </div>
                    <div>
                      <img src="/images/dogs/georgia/5.jpeg"
                        alt="Georgia giving her friend a ride"
                        aria-hidden="true" />
                    </div>
                    <div>
                      <img src="/images/dogs/georgia/6.jpeg"
                        alt="Spoiled Georgia in a big bed"
                        aria-hidden="true" />
                    </div>
                    <div>
                      <img src="/images/dogs/georgia/7.jpeg"
                        alt="Crazy pup attacks the camera"
                        aria-hidden="true" />
                    </div>
                    <div>
                      <img src="/images/dogs/georgia/8.jpeg"
                        alt="Sweet Georgia smiles for the camera"
                        aria-hidden="true" />
                    </div>
                    <div>
                      <img src="/images/dogs/georgia/9.jpeg"
                        alt="Halloween Georgia"
                        aria-hidden="true" />
                    </div>
                    <div>
                      <img src="/images/dogs/georgia/10.jpeg"
                        alt="Sleepy baby Georgia"
                        aria-hidden="true" />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="slider">
                <div class="wrapper">
                  <div class="slide">
                    <div>
                      <img src="/images/dogs/highlights/1.jpeg"
                        alt="Unitas as an old pup"
                        aria-hidden="true" />
                    </div>
                    <div>
                      <img src="/images/dogs/highlights/2.jpeg"
                        alt="Georgia being winny the poo"
                        aria-hidden="true" />
                    </div>
                    <div>
                      <img src="/images/dogs/highlights/3.jpeg"
                        alt="Angry window"
                        aria-hidden="true" />
                    </div>
                    <div>
                      <img src="/images/dogs/highlights/4.jpeg"
                        alt="brother sister cuddles"
                        aria-hidden="true" />
                    </div>
                    <div>
                      <img src="/images/dogs/highlights/5.jpeg"
                        alt="A beautiful dog in a field of flowers"
                        aria-hidden="true" />
                    </div>
                    <div>
                      <img src="/images/dogs/highlights/6.jpeg"
                        alt="Two friends for life "
                        aria-hidden="true" />
                    </div>
                    <div>
                      <img src="/images/dogs/highlights/7.jpeg"
                        alt="Georiga on Winston's back"
                        aria-hidden="true" />
                    </div>
                    <div>
                      <img src="/images/dogs/highlights/8.jpeg"
                        alt="Georgia prom photos"
                        aria-hidden="true" />
                    </div>
                    <div>
                      <img src="/images/dogs/highlights/9.jpeg"
                        alt="Winston sees snow for the first time"
                        aria-hidden="true" />
                    </div>
                    <div>
                      <img src="/images/dogs/highlights/10.jpeg"
                        alt="Baby Georgia"
                        aria-hidden="true" />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="slider">
                <div class="wrapper">
                  <div class="slide">
                    <div>
                      <img src="/images/dogs/winston/1.jpeg"
                        alt="Beautiful Winston smiles"
                        aria-hidden="true" />
                    </div>
                    <div>
                      <img src="/images/dogs/winston/2.jpeg"
                        alt="Winston is a beached whale"
                        aria-hidden="true" />
                    </div>
                    <div>
                      <img src="/images/dogs/winston/3.jpeg"
                        alt="Winston keeping an eye on the road"
                        aria-hidden="true" />
                    </div>
                    <div>
                      <img src="/images/dogs/winston/4.jpeg"
                        alt="Winston with a tongue out"
                        aria-hidden="true" />
                    </div>
                    <div>
                      <img src="/images/dogs/winston/5.jpeg"
                        alt="Sleepy Winston"
                        aria-hidden="true" />
                    </div>
                    <div>
                      <img src="/images/dogs/winston/6.jpeg"
                        alt="Winston loves to play"
                        aria-hidden="true" />
                    </div>
                    <div>
                      <img src="/images/dogs/winston/7.jpeg"
                        alt="Winston is a happy pup"
                        aria-hidden="true" />
                    </div>
                    <div>
                      <img src="/images/dogs/winston/8.jpeg"
                        alt="Winston smiles for the camera"
                        aria-hidden="true" />
                    </div>
                    <div>
                      <img src="/images/dogs/winston/9.jpeg"
                        alt="Winston takes over UMD"
                        aria-hidden="true" />
                    </div>
                    <div>
                      <img src="/images/dogs/winston/10.jpeg"
                        alt="Winston wears a friend as a hat"
                        aria-hidden="true" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
